@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 5, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/partials/_typography.scss */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
}

/* line 12, ../sass/partials/_typography.scss */
a {
  color: #ccc;
  text-decoration: none;
}
/* line 15, ../sass/partials/_typography.scss */
a:hover, a:focus {
  color: #fe4a45;
}

/* line 3, ../sass/partials/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_form.scss */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"],
form select {
  display: block;
  margin: 0 auto 18px auto;
  width: 300px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out, box-shadow ease-in-out;
  -webkit-transition-delay: 0.15s, 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 16, ../sass/partials/_form.scss */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  color: #2d2d2d;
  outline: none;
  font-family: inherit;
  border: 1px #c1c1c1 solid;
  height: 50px;
  font-size: 18px;
}
/* line 26, ../sass/partials/_form.scss */
form select {
  height: 50px;
  font-size: 18px;
}
/* line 30, ../sass/partials/_form.scss */
form .checkbox {
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  padding-left: 25px;
  position: relative;
  margin: 0 auto 18px auto;
}
/* line 37, ../sass/partials/_form.scss */
form .checkbox input {
  position: absolute;
  left: 0;
  top: 2px;
}

/* line 47, ../sass/partials/_form.scss */
.btn,
.btn-default,
input[type='submit'] {
  color: white;
  background: #fe4a45;
  border: none;
  height: 57px;
  width: 300px;
  font-size: 15px;
  font-weight: 400;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1);
}
/* line 63, ../sass/partials/_form.scss */
.btn:hover, .btn:focus,
.btn-default:hover,
.btn-default:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #dc0701;
}

/* line 70, ../sass/partials/_form.scss */
.login-box {
  margin: 50px auto;
  width: 300px;
  position: relative;
}
/* line 74, ../sass/partials/_form.scss */
.login-box .header {
  width: 300px;
  height: 102px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 81, ../sass/partials/_form.scss */
.login-box p.instructions {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
/* line 89, ../sass/partials/_form.scss */
.login-box form fieldset:last-child {
  position: relative;
  padding-bottom: 45px;
}
/* line 93, ../sass/partials/_form.scss */
.login-box form fieldset label {
  display: none;
}
/* line 95, ../sass/partials/_form.scss */
.login-box form fieldset label.checkbox {
  display: block;
}
/* line 100, ../sass/partials/_form.scss */
.login-box form .help {
  position: absolute;
  font-size: 18px;
  line-height: 130%;
  width: 100%;
  bottom: 0;
  text-align: center;
}
/* line 107, ../sass/partials/_form.scss */
.login-box form .help a {
  display: block;
  margin: 0 0 5px;
}
/* line 114, ../sass/partials/_form.scss */
.page-login .login-box, .page-reset-password .login-box {
  margin-top: 150px;
}
/* line 117, ../sass/partials/_form.scss */
.page-login .login-box fieldset:last-child, .page-reset-password .login-box fieldset:last-child {
  padding-bottom: 80px;
}
