// Typography
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
}

a {
  color: #ccc;
  text-decoration: none;
  &:hover, &:focus {
    color: $orange;
  }
}